body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:rgb(255, 0, 98);
    font-family:cursive;
    font-size: 50px;
    line-height: 55px;
    font-weight:bold;

}
h3 {
    color: rgb(66, 113, 255);
}
header {
    background: #333;
    color: #fff;
    font-size: 16px;
    padding: 25px 5%;
}
section.title-area {
    background: rgb(224, 224, 224);
    padding: 25px;
}
section {
    background: rgb(253, 205, 211);
    padding: 25px;
}
.card{
    background: #FFF;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 30%;
}
@media (max-width: 1050px) {
    .card {
        width: 90%;
    }
}
@media (max-width: 750px) {
    .card {
        background: lemonchiffon;
    }
}
@media (max-width: 750px) {
    h3 {
        color: lightcoral;
        font-size: 35px;
    }
}
